/* Fixos */
.css-vis-table {
	border: 1px solid black; 
        border-spacing: 0px;        
	border-collapse: collapse;
        table-layout: fixed;
}

.css-vis-table td {
	padding: 10px;
        border: 1px solid black;
}

.css-vis-texto-obj-simbolico{
}
.css-vis-os-articulacao{
}
.css-vis-texto-formatado{
    font-weight: normal;
	padding-left: 10px;
}
.css-vis-texto-puro{
}


/* Diff */

.css-vis-diff{
    border: 1px solid;
    /* border-bottom: 2px solid; */
    background-color: #f7f7f7;
}
.css-vis-diff-vazio{
	border: 0px;
}
.css-vis-diff-diferenca{
}
.css-vis-empty-right{
	border: 0px;
}

.diffDelete {
    color: red;
}
.diffInsert {
    color: blue;
}

/* Conteúdo do texto*/
.css-vis-span-rotulo{
	font-weight: bold;
}

.css-vis-os-os_artigo{
    font-weight: bold;
}
.css-vis-os-os_caput{
    font-style: italic;
    color: #666;
}
.css-vis-os-os_paragrafo{
}

.css-vis-outros-dispositivos {
	font-weight: bold;
	color: blue;
	font-size-adjust: 130%;
	text-align: center;
}