.css-vis-table{
    width: 100%;
    margin: auto;
}


.css-vis-texto-obj-simbolico{
    
}


.css-vis-os-articulacao{
    font-weight: bold;
}


.css-vis-os-os_artigo{
    font-weight: bold;
}


.css-vis-os-os_caput{
    font-style: italic;
    color: #666;
}

.css-vis-texto-formatado{
    font-weight: normal;
    
}
.css-vis-diff{
    border: 1px solid;
    border-bottom: 2px solid;
    background-color: #f7f7f7;
}